<div class="sidebar">

    <div class="logo-menu">
        <img src="/static/img/logo.png" alt="GMTECH">
    </div>

    <ul class="menu-lateral">

        <li>
            <a href="/" >
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/clientes">
                <i class="bi bi-people-fill"></i>
                <span>Clientes</span>
            </a>
        </li>

        <li>
            <a href="/clientes/novo">
                <i class="bi bi-person-plus-fill"></i>
                <span>Novo Cliente</span>
            </a>
        </li>

        <li>
            <a href="/servicos">
                <i class="bi bi-tools"></i>
                <span>Serviços</span>
            </a>
        </li>

        <li>
            <a href="/servicos/novo">
                <i class="bi bi-plus-circle-fill"></i>
                <span>Novo Serviço</span>
            </a>
        </li>

        <li>
            <a href="/propostas/nova">
                <i class="bi bi-file-earmark-text-fill"></i>
                <span>Nova Proposta</span>
            </a>
        </li>

    </ul>

</div>