# Ambiente virtual Python
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco de dados local
*.sqlite3
*.db

# Variáveis de ambiente
.env

# Arquivos temporários
*.log

# Configurações de IDE
.vscode/
.idea/