<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
{% block title %}
GMTECH Manager
{% endblock %}
</title>


<link 
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
rel="stylesheet">


<link 
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" 
rel="stylesheet">


<link 
href="/static/css/style.css" 
rel="stylesheet">


</head>


<body>


<div class="layout">


<!-- MENU LATERAL -->

<aside class="sidebar">


<div class="logo-area">

<img 
src="/static/img/logo.png" 
class="logo-gmtech"
>

</div>



<hr>



<nav>

    <a href="/" class="menu-item">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="/clientes" class="menu-item">
        <i class="bi bi-people-fill"></i>
        Clientes
    </a>

    <a href="/propostas" class="menu-item">
        <i class="bi bi-file-earmark-text-fill"></i>
        Propostas
    </a>

    <a href="/servicos" class="menu-item">
        <i class="bi bi-tools"></i>
        Serviços
    </a>

    <hr>

    <p class="text-muted px-3 mb-2">
        Configurações
    </p>

    <a href="/empresa" class="menu-item">
        <i class="bi bi-building"></i>
        Empresa
    </a>

</nav>


</aside>





<!-- ÁREA PRINCIPAL -->

<main class="content">


<header class="topbar">


<h4>

⚡ GMTECH Manager

</h4>


</header>



<section class="page-content">


{% block content %}

{% endblock %}


</section>



<footer class="text-center text-muted mt-5">

<small>

GMTECH Soluções Elétricas © 2026

</small>

</footer>


</main>



</div>



<script 
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
</script>


</body>


</html>