{% extends "base.html" %}


{% block title %}
Nova Proposta - GMTECH Manager
{% endblock %}



{% block content %}



<div class="d-flex justify-content-between align-items-center mb-4">


    <h2>

        <i class="bi bi-file-earmark-text-fill"></i>

        Nova Proposta

    </h2>


</div>





<div class="card card-dashboard p-4">



<!-- CLIENTE -->

<h5 class="mb-3">

<i class="bi bi-person-fill"></i>

Cliente

</h5>



<form action="/propostas/selecionar-cliente" method="post">



<select

name="cliente_id"

class="form-select"

onchange="this.form.submit()"

>


<option value="">

Selecione o cliente

</option>



{% for cliente in clientes %}


<option value="{{cliente.id}}"

{% if cliente_selecionado == cliente.id %}
selected
{% endif %}

>

{{cliente.nome}} - {{cliente.cidade}}

</option>


{% endfor %}



</select>



</form>



<hr>




<!-- ADICIONAR ITEM -->


<h5 class="mb-3">

<i class="bi bi-cart-plus-fill"></i>

Adicionar Item

</h5>



<form action="/propostas/adicionar-item" method="post">



<div class="row">



<div class="col-md-6">


<label class="form-label">

Serviço / Produto

</label>



<select

name="servico_id"

id="servico"

class="form-select"

onchange="atualizarValor()"

required

>



{% for servico in servicos %}




<option 
value="{{servico.id}}"
data-valor="{{servico.valor}}"
>
{{servico.descricao}}

</option>



{% endfor %}



</select>



</div>





<div class="col-md-3">


<label class="form-label">

Quantidade

</label>


<input

type="number"

name="quantidade"

class="form-control"

value="1"

min="1"

required

>


</div>





<div class="col-md-3">


<label class="form-label">

Valor Unitário

</label>


<input

type="number"

step="0.01"

name="valor"

id="valor"

class="form-control"

value="0"

required

>


</div>



</div>



<br>



<button class="btn btn-gmtech">


<i class="bi bi-plus-circle-fill"></i>

Adicionar Item


</button>



</form>





<hr>




<!-- ITENS -->


<h5 class="mb-3">

<i class="bi bi-list-check"></i>

Itens da Proposta

</h5>





<div class="table-responsive">



<table class="table table-hover align-middle">



<thead class="table-light">


<tr>


<th>

Descrição

</th>


<th>

Qtd.

</th>


<th>

Valor

</th>


<th>

Total

</th>


<th>

Ação

</th>


</tr>


</thead>




<tbody>



{% for item in itens %}



<tr>


<td>

{{item.servico}}

</td>



<td>

{{item.quantidade}}

</td>



<td>

R$ {{ "%.2f"|format(item.valor) }}

</td>



<td>

R$ {{ "%.2f"|format(item.quantidade * item.valor) }}

</td>



<td>



<a

href="/propostas/remover-item/{{loop.index0}}"

class="btn btn-danger btn-sm"


>

<i class="bi bi-trash-fill"></i>

Excluir


</a>



</td>


</tr>



{% endfor %}





{% if not itens %}



<tr>


<td colspan="5" class="text-center text-muted">


Nenhum item adicionado


</td>


</tr>



{% endif %}





</tbody>



</table>


</div>






<h3 class="text-end mt-4">


Total:

<strong>

R$ {{ "%.2f"|format(total) }}

</strong>


</h3>






<div class="text-end mt-4">


<form action="/propostas/salvar" method="post">


<button class="btn btn-gmtech btn-lg">


<i class="bi bi-check-circle-fill"></i>

Salvar Proposta


</button>



</form>


</div>





</div>

<script>

function atualizarValor(){

    let select = document.getElementById("servico");

    let valor = select.options[select.selectedIndex]
    .getAttribute("data-valor");


    document.getElementById("valor").value = valor;

}


</script>



{% endblock %}